body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3e9ff;
}

/* header */
h1 {
  font-size: 52px;
  color: #5530c5;
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 350px;
}

/* main */
main {
  padding: 32px;
  width: 700px;
  margin: 32px auto;
  border-radius: 8px;
  color: whitesmoke;
  background-color: #774AD8;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

a {
  padding: 2px 6px;
  border-radius: 4px;
  text-decoration: none;
  color: #2403b1;
  background-color: #FEEDB5;
}

a:hover,
a:active {
  background-color: rgb(250, 201, 39);
}

footer {
  text-align: center;
}

footer p {
  margin-top: 30px;
  color: #8F819B;
}

footer a {
  padding: 12px 20px;
  border-radius: 8px;
  color: #423304;
  background-color: #F9C927;
}

footer a:hover,
footer a:active {
  background-color: rgb(250, 201, 39);
}

.highlight {
  color: #EDD650;
  border-color: #EDD650;
}